
.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.logo-img {
  width: 80px;   /* adjust size */
  height: 80px;
}


.logo-img {
  width: 40px;
  height: 40px;
}

.nav-links a {
  margin: 0 1rem;
  color: #04124d;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #eaf59e;
}

.user-actions a {
  margin-left: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn-login {
  background-color: #063858;
}

.btn-login:hover {
  background-color: #2367b1;
}

.btn-signup {
  background-color: #0d8e43;
}

.btn-signup:hover {
  background-color: #30b567;
}
